* {
  margin: 0;
  padding: 0;
}

section > div {
  width: 100%;
}

h2{
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  text-align: center;
}


@media screen and (min-width: $sm) {
  section > div {
    width: 50%;
  }

  h2 {
    position: relative;
    padding-bottom: 40px;
  }

  h2:after {
    content: '';
    position: absolute;
    top: 65%;
    left: 45%;
    width: 50px;
    border-bottom: solid 2px $black;
    z-index: 1;
  }
}

.description{
  h3,
  p{
    margin: auto 2vh;
  }

  h3{
    padding: 3vh 1vh;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
  }

  p{
    padding: 3vh 1vh;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
  }
}
@media screen and (min-width: $sm) {
  .description {

    h3,
    p {
      margin: auto 10%;
    }

    h3 {
      padding-top: 10px;
      padding-bottom: 50px;
      font-size: 16px;
    }

    img {
      margin: $top-space auto 5% 40%;
    }
  }
}

.clear {
  clear: both;
}