#about{
  display:flex;

  #yellow{
    display: block;
    position: relative;
    background-color: $yellow;
  }

  .description{
    display: inline-block;

    .hatch{
      margin-top: $top-space;
      margin-bottom: 50px;
      text-align: center;
    }
  }
}