#about{
  #yellow {
    display: block;
    height: 100vh;
    background-color: $yellow;
  }

  .description{
    display: block;

    .hatch{
      padding: 5vh 1vh;
      text-align: center;
    }
  }
}

@media screen and (min-width: $sm) {
  #about {
    display: flex;

    .description {
      display: inline-block;
    }
  }
}