#amber{
  .image{
  img{
    width:100%;
  }
}

  .description{
    img{
      display: none;
    }
  }

  @media screen and (min-width: $sm) {
    position: relative;
    overflow: hidden;

    .image {
      position: absolute;
      left: 0;
    }

    .description {
      position: absolute;
      right: 0;
      top: $top-space;
    }
  }
}