#amber {

  @media screen and (min-width: $sm) {
    display: flex;
  }

  .image {
    img {
      width: 100%;
    }
  }

  .description {
    padding-top: $top-space;
    img {
      display: none;
    }
  }

  @media screen and (min-width: $sm){
  .description {
    padding-top: $top-space;
    img {
      display: block;
    }
  }

}

  @media screen and (min-width: $sm) {
    #amber {
      display: flex;
      flex-direction: row;
      overflow: hidden;

      .image {
        img{
          width: 100%;
        }
      }

      .description {
        top: $top-space;

        img{
          display: block;
        }
      }
    }
  }
}