header {
  color: $white;
  background-color: $black;

  ul{
    list-style-type: none;

    li{
      display: none;
    }

    li:first-child{
      display: block;
      img{
        width: 20%;
        padding: 1vh 2vh;
      }
    }
  }
}

@media screen and (min-width: $sm) {
  header {
    padding:10px 45px;
    font-family: 'Open Sans', sans-serif;

    nav {
      ul {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;

        li {
          display: block;
          padding-right: 15px;
        }

        li:nth-child(1) {
          padding-top: 0;
          padding-bottom: 0;
          width: 30%;
          text-align: center;
          order: 6;
        }
        li:nth-child(2) {order: 1;}
        li:nth-child(3) {order: 2;}
        li:nth-child(4) {order: 3;}
        li:nth-child(5) {order: 4;}
        li:nth-child(6) {order: 5;}
        li:nth-child(7) {order: 8;}
        li:nth-child(8) {order: 9;}
        li:nth-child(9) {order: 10;}
        li:nth-child(10) {order: 11;}
        li:nth-child(11) {order: 12;}
        li:nth-child(12) {order: 13;}
        li:nth-child(13) {order: 14;}
        li:nth-child(14) {order: 15;}
      }
    }
  }
}