#mimosa{
  position: relative;
overflow: hidden;
  
  h2:after{
    height: 100vh;
  }

  .image{
    position: absolute;
    right: 0;
    img{
      width: 100%;
    }
  }

  .description{
    position: absolute;
    left: 0;

    img{
      margin: $top-space auto 5% 40%;
    }
  }
}