#mimosa{
  .image{
    img{
      width: 100%;
    }
  }
  .description{
    text-align: center;

    img{
      margin: 2vh auto;
    }
  }
}

@media screen and (min-width: $sm) {
  #mimosa {
    position: relative;
    height: 99vh;

    .image {
      position: absolute;
      right: 0;
      overflow: hidden;
      height: 99vh;
    }

    .description {
      position: absolute;
      left: 0;

      img{
        margin: $top-space 0 20px 0;
      }
    }
  }
}