#project{
  .image{
    img{
      width: 100%;
    }
  }
}
@media screen and (min-width: $sm) {
  #project {
    position: relative;
    overflow: hidden;
    height: 99vh;

    .image {
      position: absolute;
      left: 0;
    }

    .description {
      position: absolute;
      right: 0;

      h2 {
        margin: $top-space 20% 5% 20%;
      }
    }
  }
}